# In Depth A/B Testing - Lab

## Introduction

In this lab, you'll explore a survey from Kaggle regarding budding data scientists. With this, you'll form some initial hypotheses, and test them using the tools you've acquired to date. 

## Objectives

You will be able to:
* Conduct statistical tests on a real-world dataset

## Load the Dataset and Perform a Brief Exploration

The data is stored in a file called **multipleChoiceResponses_cleaned.csv**. Feel free to check out the original dataset referenced at the bottom of this lab, although this cleaned version will undoubtedly be easier to work with. Additionally, meta-data regarding the questions is stored in a file name **schema.csv**. Load in the data itself as a Pandas DataFrame, and take a moment to briefly get acquainted with it.

> Note: If you can't get the file to load properly, try changing the encoding format as in `encoding='latin1'`

In [1]:
#Your code here
import pandas as pd
df = pd.read_csv('multipleChoiceResponses_cleaned.csv')
df.head()

/opt/conda/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity,exchangeRate,AdjustedCompensation
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,NaN,NaN
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,250000.0
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
schema = pd.read_csv('schema.csv')

Empty DataFrame
Columns: [Column, Question, Asked]
Index: []

In [50]:
schema[schema['Column']=='CompensationAmount']['Question']

266    What is your current total yearly compensation...
Name: Question, dtype: object

In [12]:
df.columns[0:50]

Index(['GenderSelect', 'Country', 'Age', 'EmploymentStatus', 'StudentStatus',
       'LearningDataScience', 'CodeWriter', 'CareerSwitcher',
       'CurrentJobTitleSelect', 'TitleFit', 'CurrentEmployerType',
       'MLToolNextYearSelect', 'MLMethodNextYearSelect',
       'LanguageRecommendationSelect', 'PublicDatasetsSelect',
       'LearningPlatformSelect', 'LearningPlatformUsefulnessArxiv',
       'LearningPlatformUsefulnessBlogs', 'LearningPlatformUsefulnessCollege',
       'LearningPlatformUsefulnessCompany',
       'LearningPlatformUsefulnessConferences',
       'LearningPlatformUsefulnessFriends', 'LearningPlatformUsefulnessKaggle',
       'LearningPlatformUsefulnessNewsletters',
       'LearningPlatformUsefulnessCommunities',
       'LearningPlatformUsefulnessDocumentation',
       'LearningPlatformUsefulnessCourses',
       'LearningPlatformUsefulnessProjects',
       'LearningPlatformUsefulnessPodcasts', 'LearningPlatformUsefulnessSO',
       'LearningPlatformUsefulnessTextbook',
       'LearningPlatformUsefulnessTradeBook',
       'LearningPlatformUsefulnessTutoring',
       'LearningPlatformUsefulnessYouTube', 'BlogsPodcastsNewslettersSelect',
       'LearningDataScienceTime', 'JobSkillImportanceBigData',
       'JobSkillImportanceDegree', 'JobSkillImportanceStats',
       'JobSkillImportanceEnterpriseTools', 'JobSkillImportancePython',
       'JobSkillImportanceR', 'JobSkillImportanceSQL',
       'JobSkillImportanceKaggleRanking', 'JobSkillImportanceMOOC',
       'JobSkillImportanceVisualizations', 'JobSkillImportanceOtherSelect1',
       'JobSkillImportanceOtherSelect2', 'JobSkillImportanceOtherSelect3',
       'CoursePlatformSelect'],
      dtype='object')

In [29]:
df['FormalEducation'].value_counts()

Master's degree                                                      8204
Bachelor's degree                                                    4811
Doctoral degree                                                      3543
Some college/university study without earning a bachelor's degree     786
Professional degree                                                   451
I did not complete any formal education past high school              257
I prefer not to answer                                                 90
Name: FormalEducation, dtype: int64

In [34]:
df['AdjustedCompensation'][80]

7807.878000000001

## Wages and Education

You've been asked to determine whether education is impactful to salary. Develop a hypothesis test to compare the salaries of those with Master's degrees to those with Bachelor's degrees. Are the two statistically different according to your results?

> Note: The relevant features are stored in the 'FormalEducation' and 'AdjustedCompensation' features.

In [54]:
bas = df[df['FormalEducation']=="Bachelor's degree"][['Age','AdjustedCompensation']]
bas.dropna(subset=['AdjustedCompensation'],inplace=True)
mas = df[df['FormalEducation']=="Master's degree"][['Age','AdjustedCompensation']]
mas.

        Age  AdjustedCompensation
8      43.0           64184.80000
9      33.0           20882.40000
11     27.0            1483.90000
21     25.0           20000.00000
25     22.0           10858.84800
100    30.0           80000.00000
132    38.0            1449.31200
134    28.0           10000.00000
135    38.0           19281.00000
158    30.0           59588.46000
178    27.0           55000.00000
181    23.0           85000.00000
185    23.0            5622.08000
205    30.0           65502.09000
230    24.0             573.99648
243    28.0           25000.00000
279    26.0           85000.00000
312    24.0           27720.72000
313    52.0           90000.00000
318    42.0          180000.00000
324    26.0            1044.12000
332    25.0           18744.00000
356    27.0           35440.00000
374    22.0           18000.00000
380    31.0           65000.00000
395    25.0            1368.00000
397    21.0            1692.42000
400    27.0          115000.00000
419    29.0          470000.00000
462    60.0          140000.00000
...     ...                   ...
23896  28.0           71749.56000
23904  26.0           16067.50000
23924  28.0           28207.00000
23931  31.0          200000.00000
23932  22.0          135000.00000
23933  23.0           60000.00000
23937  31.0           32832.00000
23950  24.0           34000.00000
23967  35.0          110000.00000
24008  29.0           10212.30000
24043  35.0           75000.00000
24045  38.0            2164.76000
24048  26.0           15231.78000
24075  32.0          113000.00000
24109  20.0             912.00000
24506  35.0           28000.00000
24707  24.0            2262.26000
24847  32.0           93720.00000
25091  24.0            1562.00000
25172  47.0          550000.00000
25311   NaN           85000.00000
25348  29.0           65770.43000
25469  24.0           22565.60000
25774  23.0           10153.00000
25858  37.0           71749.56000
26031  35.0           39050.00000
26072  32.0           31878.00000
26101  26.0            3336.00000
26185  56.0           50000.00000
26195  34.0          100449.38400

[1107 rows x 2 columns]

## Wages and Education II

Now perform a similar statistical test comparing the AdjustedCompensation of those with Bachelor's degrees and those with Doctorates. If you haven't already, be sure to explore the distribution of the AdjustedCompensation feature for any anomalies.

In [11]:
#Your code here

Median Values:
s1:74131.92
s2:38399.4
Sample sizes:
s1: 967
s2: 1107
Welch's t-test p-value: 0.1568238199472023


Repeated Test with Ouliers Removed:
Sample sizes:
s1: 964
s2: 1103
Welch's t-test p-value with outliers removed: 0.0

## Wages and Education III

Remember the multiple comparisons problem; rather than continuing on like this, perform an ANOVA test between the various 'FormalEducation' categories and their relation to 'AdjustedCompensation'.

In [ ]:
#Your code here

## Additional Resources

Here's the original source where the data was taken from:  
    [Kaggle Machine Learning & Data Science Survey 2017](https://www.kaggle.com/kaggle/kaggle-survey-2017)

## Summary

In this lab, you practiced conducting actual hypothesis tests on actual data. From this, you saw how dependent results can be on the initial problem formulation, including preprocessing!