# In Depth A/B Testing - Lab

## Introduction

In this lab, you'll explore a survey from Kaggle regarding budding data scientists. With this, you'll form some initial hypotheses, and test them using the tools you've acquired to date. 

## Objectives

You will be able to:
* Conduct statistical tests on a real-world dataset

## Load the Dataset and Perform a Brief Exploration

The data is stored in a file called **multipleChoiceResponses_cleaned.csv**. Feel free to check out the original dataset referenced at the bottom of this lab, although this cleaned version will undoubtedly be easier to work with. Additionally, meta-data regarding the questions is stored in a file name **schema.csv**. Load in the data itself as a Pandas DataFrame, and take a moment to briefly get acquainted with it.

> Note: If you can't get the file to load properly, try changing the encoding format as in `encoding='latin1'`

In [1]:
#Your code here
import pandas as pd
df = pd.read_csv('multipleChoiceResponses_cleaned.csv')
df.head()

/opt/conda/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity,exchangeRate,AdjustedCompensation
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,NaN,NaN
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,250000.0
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns[0:25]

Index(['GenderSelect', 'Country', 'Age', 'EmploymentStatus', 'StudentStatus',
       'LearningDataScience', 'CodeWriter', 'CareerSwitcher',
       'CurrentJobTitleSelect', 'TitleFit', 'CurrentEmployerType',
       'MLToolNextYearSelect', 'MLMethodNextYearSelect',
       'LanguageRecommendationSelect', 'PublicDatasetsSelect',
       'LearningPlatformSelect', 'LearningPlatformUsefulnessArxiv',
       'LearningPlatformUsefulnessBlogs', 'LearningPlatformUsefulnessCollege',
       'LearningPlatformUsefulnessCompany',
       'LearningPlatformUsefulnessConferences',
       'LearningPlatformUsefulnessFriends', 'LearningPlatformUsefulnessKaggle',
       'LearningPlatformUsefulnessNewsletters',
       'LearningPlatformUsefulnessCommunities'],
      dtype='object')

In [9]:
df['Age'].value_counts()

37.0                                                                                                                                                                                                                                       2315
49.0                                                                                                                                                                                                                                       1328
25.0                                                                                                                                                                                                                                        969
24.0                                                                                                                                                                                                                                        898
26.0                                                                                                                                                                                                                                        886
27.0                                                                                                                                                                                                                                        842
23.0                                                                                                                                                                                                                                        839
30.0                                                                                                                                                                                                                                        778
28.0                                                                                                                                                                                                                                        761
29.0                                                                                                                                                                                                                                        731
22.0                                                                                                                                                                                                                                        694
31.0                                                                                                                                                                                                                                        597
21.0                                                                                                                                                                                                                                        584
35.0                                                                                                                                                                                                                                        577
32.0                                                                                                                                                                                                                                        560
34.0                                                                                                                                                                                                                                        531
33.0                                                                                                                                                                                                                                        530
36.0                                                                                                                                                                                                                                        398
20.0                                                                                                                                                                                                                                        395
40.0                                                                                                                                                                                                                                        366
38.0                                                                                                                                                                                                                                        354
39.0                                                                                                                                                                                                                                        320
42.0                                                                                                                                                                                                                                        255
45.0                                                                                                                                                                                                                                        226
41.0                                                                                                                                                                                                                                        223
44.0                                                                                                                                                                                                                                        199
43.0                                                                                                                                                                                                                                        198
19.0                                                                                                                                                                                                                                        193
50.0                                                                                                                                                                                                                                        189
47.0                                                                                                                                                                                                                                        166
                                                                                                                                                                                                                                           ...
99.0                                                                                                                                                                                                                                          3
Share Drive/SharePoint                                                                                                                                                                                                                        3
76.0                                                                                                                                                                                                                                          3
13.0                                                                                                                                                                                                                                          3
11.0                                                                                                                                                                                                                                          3
Email,Other                                                                                                                                                                                                                                   2
6.0                                                                                                                                                                                                                                           2
3.0                                                                                                                                                                                                                                           2
79.0                                                                                                                                                                                                                                          2
Company Developed Platform,Email                                                                                                                                                                                                              2
Commercial Data Platform,Email                                                                                                                                                                                                                2
83.0                                                                                                                                                                                                                                          1
Column-oriented relational (e.g. KDB/MariaDB),Flat files not in a database or cache (e.g. CSV, JSON, XML, PNG, MPG),Other tabular (e.g. Cassandra/BigTable/BigQuery/Redshift),Row-oriented relational (e.g. MySQL/Microsoft SQL Server)       1
Column-oriented relational (e.g. KDB/MariaDB),Flat files not in a database or cache (e.g. CSV, JSON, XML, PNG, MPG)                                                                                                                           1
98.0                                                                                                                                                                                                                                          1
Column-oriented relational (e.g. KDB/MariaDB),Document-oriented (e.g. MongoDB/Elasticsearch),Flat files not in a database or cache (e.g. CSV, JSON, XML, PNG, MPG),Row-oriented relational (e.g. MySQL/Microsoft SQL Server)                  1
9.0                                                                                                                                                                                                                                           1
Column-oriented relational (e.g. KDB/MariaDB),Document-oriented (e.g. MongoDB/Elasticsearch),Flat files not in a database or cache (e.g. CSV, JSON, XML, PNG, MPG),Graph (e.g. GraphBase/Neo4j),Key-value store (e.g. Redis/Riak)             1
82.0                                                                                                                                                                                                                                          1
Commercial Data Platform,Company Developed Platform,Other                                                                                                                                                                                     1
12.0                                                                                                                                                                                                                                          1
10.0                                                                                                                                                                                                                                          1
78.0                                                                                                                                                                                                                                          1
Document-oriented (e.g. MongoDB/Elasticsearch),Flat files not in a database or cache (e.g. CSV, JSON, XML, PNG, MPG),Graph (e.g. GraphBase/Neo4j)                                                                                             1
Commercial Data Platform,Share Drive/SharePoint                                                                                                                                                                                               1
94.0                                                                                                                                                                                                                                          1
Commercial Data Platform,Email,Share Drive/SharePoint                                                                                                                                                                                         1
Document-oriented (e.g. MongoDB/Elasticsearch),Flat files not in a database or cache (e.g. CSV, JSON, XML, PNG, MPG),Row-oriented relational (e.g. MySQL/Microsoft SQL Server)                                                                1
4.0                                                                                                                                                                                                                                           1
2.0                                                                                                                                                                                                                                           1
Name: Age, Length: 101, dtype: int64

## Wages and Education

You've been asked to determine whether education is impactful to salary. Develop a hypothesis test to compare the salaries of those with Master's degrees to those with Bachelor's degrees. Are the two statistically different according to your results?

> Note: The relevant features are stored in the 'FormalEducation' and 'AdjustedCompensation' features.

In [ ]:
#Your code here

## Wages and Education II

Now perform a similar statistical test comparing the AdjustedCompensation of those with Bachelor's degrees and those with Doctorates. If you haven't already, be sure to explore the distribution of the AdjustedCompensation feature for any anomalies.

In [11]:
#Your code here

Median Values:
s1:74131.92
s2:38399.4
Sample sizes:
s1: 967
s2: 1107
Welch's t-test p-value: 0.1568238199472023


Repeated Test with Ouliers Removed:
Sample sizes:
s1: 964
s2: 1103
Welch's t-test p-value with outliers removed: 0.0

## Wages and Education III

Remember the multiple comparisons problem; rather than continuing on like this, perform an ANOVA test between the various 'FormalEducation' categories and their relation to 'AdjustedCompensation'.

In [ ]:
#Your code here

## Additional Resources

Here's the original source where the data was taken from:  
    [Kaggle Machine Learning & Data Science Survey 2017](https://www.kaggle.com/kaggle/kaggle-survey-2017)

## Summary

In this lab, you practiced conducting actual hypothesis tests on actual data. From this, you saw how dependent results can be on the initial problem formulation, including preprocessing!