# In Depth A/B Testing - Lab

## Introduction

In this lab, you'll explore a survey from Kaggle regarding budding data scientists. With this, you'll form some initial hypotheses, and test them using the tools you've acquired to date. 

## Objectives

You will be able to:
* Conduct statistical tests on a real-world dataset

## Load the Dataset and Perform a Brief Exploration

The data is stored in a file called **multipleChoiceResponses_cleaned.csv**. Feel free to check out the original dataset referenced at the bottom of this lab, although this cleaned version will undoubtedly be easier to work with. Additionally, meta-data regarding the questions is stored in a file name **schema.csv**. Load in the data itself as a Pandas DataFrame, and take a moment to briefly get acquainted with it.

> Note: If you can't get the file to load properly, try changing the encoding format as in `encoding='latin1'`

In [1]:
#Your code here
import pandas as pd
df = pd.read_csv('multipleChoiceResponses_cleaned.csv')
df.head()

/opt/conda/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity,exchangeRate,AdjustedCompensation
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,NaN,NaN
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,250000.0
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
schema = pd.read_csv('schema.csv')

Empty DataFrame
Columns: [Column, Question, Asked]
Index: []

In [50]:
schema[schema['Column']=='CompensationAmount']['Question']

266    What is your current total yearly compensation...
Name: Question, dtype: object

In [12]:
df.columns[0:50]

Index(['GenderSelect', 'Country', 'Age', 'EmploymentStatus', 'StudentStatus',
       'LearningDataScience', 'CodeWriter', 'CareerSwitcher',
       'CurrentJobTitleSelect', 'TitleFit', 'CurrentEmployerType',
       'MLToolNextYearSelect', 'MLMethodNextYearSelect',
       'LanguageRecommendationSelect', 'PublicDatasetsSelect',
       'LearningPlatformSelect', 'LearningPlatformUsefulnessArxiv',
       'LearningPlatformUsefulnessBlogs', 'LearningPlatformUsefulnessCollege',
       'LearningPlatformUsefulnessCompany',
       'LearningPlatformUsefulnessConferences',
       'LearningPlatformUsefulnessFriends', 'LearningPlatformUsefulnessKaggle',
       'LearningPlatformUsefulnessNewsletters',
       'LearningPlatformUsefulnessCommunities',
       'LearningPlatformUsefulnessDocumentation',
       'LearningPlatformUsefulnessCourses',
       'LearningPlatformUsefulnessProjects',
       'LearningPlatformUsefulnessPodcasts', 'LearningPlatformUsefulnessSO',
       'LearningPlatformUsefulnessTextbook',
       'LearningPlatformUsefulnessTradeBook',
       'LearningPlatformUsefulnessTutoring',
       'LearningPlatformUsefulnessYouTube', 'BlogsPodcastsNewslettersSelect',
       'LearningDataScienceTime', 'JobSkillImportanceBigData',
       'JobSkillImportanceDegree', 'JobSkillImportanceStats',
       'JobSkillImportanceEnterpriseTools', 'JobSkillImportancePython',
       'JobSkillImportanceR', 'JobSkillImportanceSQL',
       'JobSkillImportanceKaggleRanking', 'JobSkillImportanceMOOC',
       'JobSkillImportanceVisualizations', 'JobSkillImportanceOtherSelect1',
       'JobSkillImportanceOtherSelect2', 'JobSkillImportanceOtherSelect3',
       'CoursePlatformSelect'],
      dtype='object')

In [29]:
df['FormalEducation'].value_counts()

Master's degree                                                      8204
Bachelor's degree                                                    4811
Doctoral degree                                                      3543
Some college/university study without earning a bachelor's degree     786
Professional degree                                                   451
I did not complete any formal education past high school              257
I prefer not to answer                                                 90
Name: FormalEducation, dtype: int64

In [34]:
df['AdjustedCompensation'][80]

7807.878000000001

## Wages and Education

You've been asked to determine whether education is impactful to salary. Develop a hypothesis test to compare the salaries of those with Master's degrees to those with Bachelor's degrees. Are the two statistically different according to your results?

> Note: The relevant features are stored in the 'FormalEducation' and 'AdjustedCompensation' features.

In [55]:
bas = df[df['FormalEducation']=="Bachelor's degree"][['Age','AdjustedCompensation']]
bas.dropna(subset=['AdjustedCompensation'],inplace=True)
mas = df[df['FormalEducation']=="Master's degree"][['Age','AdjustedCompensation']]
mas.dropna(subset=['AdjustedCompensation'],inplace=True)

import

        Age  AdjustedCompensation
3      56.0          2.500000e+05
14     26.0          3.663440e+04
27     34.0          5.335200e+04
31     29.0          3.541910e+04
37     37.0          8.000000e+04
42     30.0          3.587478e+04
65     29.0          1.874400e+03
67     25.0          1.195826e+05
80     25.0          7.807878e+03
81     44.0          7.772869e+04
89     39.0          1.150000e+05
110    59.0          7.500000e+04
127    25.0          4.820250e+02
130    32.0          8.033750e+03
165    37.0          1.434991e+04
166    62.0          6.500000e+04
171    58.0          8.433120e+02
179    26.0          2.989565e+04
183    23.0          5.623200e+03
187    31.0          9.200000e+04
194    31.0          7.900000e+04
206    24.0          4.783304e+04
222    26.0          4.185391e+04
237    52.0          1.400000e+05
255    31.0          2.500000e+04
256    25.0          1.145500e+03
258    28.0          8.000000e+04
271    26.0          2.698598e+01
277    30.0          6.414800e+04
295    23.0          5.627799e+04
...     ...                   ...
24600  23.0          1.252944e+05
24879  29.0          2.079712e+04
24945  27.0          2.869982e+04
24951  35.0          0.000000e+00
24956  35.0          4.889627e+04
24988  46.0          1.928100e+05
24998  60.0          8.500000e+04
25124  29.0          1.250000e+05
25134  29.0          5.979130e+04
25161  39.0          6.264720e+04
25162  42.0          1.136035e+05
25164  40.0          5.622080e+04
25195  36.0          6.620940e+04
25309  24.0          7.350000e+04
25356  39.0          4.498900e+06
25443  38.0          7.600000e+04
25578  27.0          7.174956e+04
25699  26.0          1.080000e+05
25761  30.0          4.104000e+00
25789  40.0          4.000000e+04
25812  29.0          7.486963e+03
25820  37.0          3.946226e+04
25902  31.0          1.928100e+04
25959  50.0          1.076243e+05
26030  26.0          2.000000e+04
26148  42.0          5.467000e+04
26159  39.0          1.000000e+00
26180  38.0          6.577043e+04
26255  32.0          8.968695e+04
26378  45.0          1.000000e+04

[1990 rows x 2 columns]

## Wages and Education II

Now perform a similar statistical test comparing the AdjustedCompensation of those with Bachelor's degrees and those with Doctorates. If you haven't already, be sure to explore the distribution of the AdjustedCompensation feature for any anomalies.

In [11]:
#Your code here

Median Values:
s1:74131.92
s2:38399.4
Sample sizes:
s1: 967
s2: 1107
Welch's t-test p-value: 0.1568238199472023


Repeated Test with Ouliers Removed:
Sample sizes:
s1: 964
s2: 1103
Welch's t-test p-value with outliers removed: 0.0

## Wages and Education III

Remember the multiple comparisons problem; rather than continuing on like this, perform an ANOVA test between the various 'FormalEducation' categories and their relation to 'AdjustedCompensation'.

In [ ]:
#Your code here

## Additional Resources

Here's the original source where the data was taken from:  
    [Kaggle Machine Learning & Data Science Survey 2017](https://www.kaggle.com/kaggle/kaggle-survey-2017)

## Summary

In this lab, you practiced conducting actual hypothesis tests on actual data. From this, you saw how dependent results can be on the initial problem formulation, including preprocessing!