# In Depth A/B Testing - Lab

## Introduction

In this lab, you'll explore a survey from Kaggle regarding budding data scientists. With this, you'll form some initial hypotheses, and test them using the tools you've acquired to date. 

## Objectives

You will be able to:
* Conduct statistical tests on a real-world dataset

## Load the Dataset and Perform a Brief Exploration

The data is stored in a file called **multipleChoiceResponses_cleaned.csv**. Feel free to check out the original dataset referenced at the bottom of this lab, although this cleaned version will undoubtedly be easier to work with. Additionally, meta-data regarding the questions is stored in a file name **schema.csv**. Load in the data itself as a Pandas DataFrame, and take a moment to briefly get acquainted with it.

> Note: If you can't get the file to load properly, try changing the encoding format as in `encoding='latin1'`

In [1]:
#Your code here
import pandas as pd
df = pd.read_csv('multipleChoiceResponses_cleaned.csv')
df.head()

/opt/conda/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity,exchangeRate,AdjustedCompensation
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,NaN,NaN
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,250000.0
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
schema = pd.read_csv('schema.csv')

Empty DataFrame
Columns: [Column, Question, Asked]
Index: []

In [43]:
schema.sort_values('Column')

,Column,Question,Asked
3,Age,What's your age?,All
227,AlgorithmUnderstandingLevel,At which level do you understand the mathemati...,CodingWorker
54,BlogsPodcastsNewslettersFreeForm,What are your top 3 favorite data science blog...,All
53,BlogsPodcastsNewslettersSelect,What are your top 3 favorite data science blog...,All
9,CareerSwitcher,Are you actively looking to switch careers to ...,Worker1
8,CodeWriter,Do you write code to analyze data in your curr...,Worker1
266,CompensationAmount,What is your current total yearly compensation...,CodingWorker
267,CompensationCurrency,What is your current total yearly compensation...,CodingWorker
2,Country,Select the country you currently live in.,All
73,CoursePlatformFreeForm,On which online platforms have you begun or co...,OnlineLearners
72,CoursePlatformSelect,On which online platforms have you begun or co...,OnlineLearners
13,CurrentEmployerType,Which of the following describe your current e...,Worker1
11,CurrentJobTitleFreeForm,Select the option that's most similar to your ...,Worker1
10,CurrentJobTitleSelect,Select the option that's most similar to your ...,Worker1
82,DataScienceIdentityFreeForm,Do you currently consider yourself a data scie...,All
81,DataScienceIdentitySelect,Do you currently consider yourself a data scie...,All
103,EmployerIndustry,Which industry is your current employer/contra...,Worker
104,EmployerIndustryOtherFreeForm,Which industry is your current employer/contra...,Worker
107,EmployerMLTime,How many years has your organization been util...,CodingWorker-NC
108,EmployerSearchMethod,How did you find your current job? - Selected ...,CodingWorker-NC
109,EmployerSearchMethodOtherFreeForm,How did you find your current job? - Some othe...,CodingWorker-NC
105,EmployerSize,How many employees work at your current or mos...,CodingWorker-NC
106,EmployerSizeChange,How has the size of your organization's ML/DS ...,CodingWorker-NC
4,EmploymentStatus,What's your current employment status?,All
90,FirstTrainingFreeForm,How did you first start your machine learning ...,All
89,FirstTrainingSelect,How did you first start your machine learning ...,All
83,FormalEducation,Which level of formal education have you attai...,All
1,GenderFreeForm,Select your gender identity. - A different ide...,All
0,GenderSelect,Select your gender identity. - Selected Choice,All
75,HardwarePersonalProjectsFreeForm,Which computing hardware do you use for your p...,Learners
...,...,...,...
145,WorkToolsFrequencyMathematica,"At work, how often did you use the following d...",CodingWorker
149,WorkToolsFrequencyMicrosoftRServer,"At work, how often did you use the following d...",CodingWorker
150,WorkToolsFrequencyMicrosoftSQL,"At work, how often did you use the following d...",CodingWorker
151,WorkToolsFrequencyMinitab,"At work, how often did you use the following d...",CodingWorker
152,WorkToolsFrequencyNoSQL,"At work, how often did you use the following d...",CodingWorker
153,WorkToolsFrequencyOracle,"At work, how often did you use the following d...",CodingWorker
154,WorkToolsFrequencyOrange,"At work, how often did you use the following d...",CodingWorker
155,WorkToolsFrequencyPerl,"At work, how often did you use the following d...",CodingWorker
156,WorkToolsFrequencyPython,"At work, how often did you use the following d...",CodingWorker
157,WorkToolsFrequencyQlik,"At work, how often did you use the following d...",CodingWorker
158,WorkToolsFrequencyR,"At work, how often did you use the following d...",CodingWorker
159,WorkToolsFrequencyRapidMinerCommercial,"At work, how often did you use the following d...",CodingWorker
160,WorkToolsFrequencyRapidMinerFree,"At work, how often did you use the following d...",CodingWorker
162,WorkToolsFrequencySAPBusinessObjects,"At work, how often did you use the following d...",CodingWorker
163,WorkToolsFrequencySASBase,"At work, how often did you use the following d...",CodingWorker
164,WorkToolsFrequencySASEnterprise,"At work, how often did you use the following d...",CodingWorker
165,WorkToolsFrequencySASJMP,"At work, how often did you use the following d...",CodingWorker
167,WorkToolsFrequencySQL,"At work, how often did you use the following d...",CodingWorker
161,WorkToolsFrequencySalfrod,"At work, how often did you use the following d...",CodingWorker
174,WorkToolsFrequencySelect1,"At work, how often did you use the following d...",CodingWorker
175,WorkToolsFrequencySelect1FreeForm,"At work, how often did you use the following d...",CodingWorker
176,WorkToolsFrequencySelect2,"At work, how often did you use the following d...",CodingWorker
166,WorkToolsFrequencySpark,"At work, how often did you use the following d...",CodingWorker
168,WorkToolsFrequencyStan,"At work, how often did you use the following d...",CodingWorker
169,WorkToolsFrequencyStatistica,"At work, how often did you use the following d...",CodingWorker
172,WorkToolsFrequencyTIBCO,"At work, how often did you use the following d...",CodingWorker
170,WorkToolsFrequencyTableau,"At work, how often did you use the following d...",CodingWorker
171,WorkToolsFrequencyTensorFlow,"At work, how often did you use the following d...",CodingWorker
173,WorkToolsFrequencyUnix,"At work, how often did you use the following d...",CodingWorker
122,WorkToolsSelect,"For work, which data science/analytics tools, ...",CodingWorker

In [12]:
df.columns[0:50]

Index(['GenderSelect', 'Country', 'Age', 'EmploymentStatus', 'StudentStatus',
       'LearningDataScience', 'CodeWriter', 'CareerSwitcher',
       'CurrentJobTitleSelect', 'TitleFit', 'CurrentEmployerType',
       'MLToolNextYearSelect', 'MLMethodNextYearSelect',
       'LanguageRecommendationSelect', 'PublicDatasetsSelect',
       'LearningPlatformSelect', 'LearningPlatformUsefulnessArxiv',
       'LearningPlatformUsefulnessBlogs', 'LearningPlatformUsefulnessCollege',
       'LearningPlatformUsefulnessCompany',
       'LearningPlatformUsefulnessConferences',
       'LearningPlatformUsefulnessFriends', 'LearningPlatformUsefulnessKaggle',
       'LearningPlatformUsefulnessNewsletters',
       'LearningPlatformUsefulnessCommunities',
       'LearningPlatformUsefulnessDocumentation',
       'LearningPlatformUsefulnessCourses',
       'LearningPlatformUsefulnessProjects',
       'LearningPlatformUsefulnessPodcasts', 'LearningPlatformUsefulnessSO',
       'LearningPlatformUsefulnessTextbook',
       'LearningPlatformUsefulnessTradeBook',
       'LearningPlatformUsefulnessTutoring',
       'LearningPlatformUsefulnessYouTube', 'BlogsPodcastsNewslettersSelect',
       'LearningDataScienceTime', 'JobSkillImportanceBigData',
       'JobSkillImportanceDegree', 'JobSkillImportanceStats',
       'JobSkillImportanceEnterpriseTools', 'JobSkillImportancePython',
       'JobSkillImportanceR', 'JobSkillImportanceSQL',
       'JobSkillImportanceKaggleRanking', 'JobSkillImportanceMOOC',
       'JobSkillImportanceVisualizations', 'JobSkillImportanceOtherSelect1',
       'JobSkillImportanceOtherSelect2', 'JobSkillImportanceOtherSelect3',
       'CoursePlatformSelect'],
      dtype='object')

In [29]:
df['FormalEducation'].value_counts()

Master's degree                                                      8204
Bachelor's degree                                                    4811
Doctoral degree                                                      3543
Some college/university study without earning a bachelor's degree     786
Professional degree                                                   451
I did not complete any formal education past high school              257
I prefer not to answer                                                 90
Name: FormalEducation, dtype: int64

In [34]:
df['AdjustedCompensation'][80]

7807.878000000001

## Wages and Education

You've been asked to determine whether education is impactful to salary. Develop a hypothesis test to compare the salaries of those with Master's degrees to those with Bachelor's degrees. Are the two statistically different according to your results?

> Note: The relevant features are stored in the 'FormalEducation' and 'AdjustedCompensation' features.

In [ ]:
#Your code here

## Wages and Education II

Now perform a similar statistical test comparing the AdjustedCompensation of those with Bachelor's degrees and those with Doctorates. If you haven't already, be sure to explore the distribution of the AdjustedCompensation feature for any anomalies.

In [11]:
#Your code here

Median Values:
s1:74131.92
s2:38399.4
Sample sizes:
s1: 967
s2: 1107
Welch's t-test p-value: 0.1568238199472023


Repeated Test with Ouliers Removed:
Sample sizes:
s1: 964
s2: 1103
Welch's t-test p-value with outliers removed: 0.0

## Wages and Education III

Remember the multiple comparisons problem; rather than continuing on like this, perform an ANOVA test between the various 'FormalEducation' categories and their relation to 'AdjustedCompensation'.

In [ ]:
#Your code here

## Additional Resources

Here's the original source where the data was taken from:  
    [Kaggle Machine Learning & Data Science Survey 2017](https://www.kaggle.com/kaggle/kaggle-survey-2017)

## Summary

In this lab, you practiced conducting actual hypothesis tests on actual data. From this, you saw how dependent results can be on the initial problem formulation, including preprocessing!